body{
    background-color: yellow;
}

h1{
    background-color: black;
    color: white;
    font-family:'Franklin Gothic Medium';
}

h2{
    font-family:Arial;
}

img{
    border-radius: 20px;
    max-width: 500px;
    max-height: 250px;
    float: right;
}