body{
    background-color: yellow;
}

h1{
    background-color: black;
    color: white;
    font-family:'Franklin Gothic Medium';
}

h2{
    border-style:dotted;
    border: 3px dotted #000;
    font-family:Arial;
}

img{
    border-radius: 20px;
    max-width: 500px;
    max-height: 250px;
    float: right;
    margin: 20px;
}

.centered {
    display: flex;
    align-items:center;
}

.font1{
    border-style:"dotted";
    font-family:"Trebuchet MS";
}